* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#9ad0f0, #5577c6, #063e83);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.panel {
    width: 95%;
    max-width: 1000px;
    padding: 25px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(10px);
    border-radius: 18px;
}

h1 {
    margin-bottom: 15px;
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form input {
    flex: 1;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    background-color: rgba(255,255,255,0.2);
    color: white;
}

.form input::placeholder {
    color: rgba(255,255,255,0.7);
}

.form select {
    flex: 1;
    padding: 10px 12px;
    border-radius: 15px;
    border: none;
    background-color: rgba(255,255,255,0.2);
    color: white;
    appearance: none;
    cursor: pointer;
}


.form select option {
    background-color: rgba(255,255,255,0.15);
    color: white;
    padding: 8px 12px;
}

.form button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.board {
    display: flex;
    gap: 15px;
}

.column {
    flex: 1;
    background: rgba(255,255,255,0.08);
    padding: 10px;
    border-radius: 12px;
}

.task-column {
    list-style: none;
    min-height: 60px;
}

li {
    background: rgba(255,255,255,0.15);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.dragging {
    opacity: 0.5;
}

.buttons {
    display: flex;
    gap: 6px;
}

.finish-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 12px;
}

.delete-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.stats {
    margin-top: 20px;
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 12px;
}

.day {
    margin-bottom: 10px;
}

.progress {
    height: 8px;
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    height: 100%;
    background: #4CAF50;
}

.total {
    margin-top: 10px;
    font-weight: bold;
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 8px;
}

.best {
    color: gold;
}

.form select option {
    color: #0b2545; /* koyu lacivert – okunur */
    background-color: #e6f0fa; /* açık mavi-gri */
}